*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 1.7em;
}
h1, h2, h3, h4, h5, h6{
	font-family: sans-serif;
}
a, a:hover{
	text-decoration: none;
}
/* global CSS */
.container{
	width: 1140px;
	margin: 0px auto;
}
.row{
	width: 100%;
	float: left;
}
.col-6{
	width: 50%;
	float: left;
}
.col-4{
	width: 33.33%;
	float: left;
}
/* global CSS end */
.header{
	width: 100%;
	float: left;
	border-bottom: 2px solid #eee;
	padding: 10px 0px;
}
.header .logo{
	width: 110px;
}
.header .navbar{
	width: 100%;
	float: left;
	display: block;
	text-align: right;
	margin: 10px 0px;

}
.header .navbar li{
	list-style: none;
	display: inline-block;
}
.header .navbar li a{
	font-size: 16px;
	color: #0F2656;
	text-transform: capitalize;
	margin: 0px 0px 0px 15px;
}
.header .navbar li a:hover{
	color: #0C66FF;
}
.banner{
	width: 100%;
	float: left;
	padding: 70px 0px;
	text-align: center;
}
.banner h1{
	font-size: 60px;
	line-height: 1.2em;
	font-weight: 600;
	color: #0F2656;
	margin: 0px 0px 10px;

}
.banner h1 span{
	color: #008AFF;
}
.banner p{
	font-size: 16px;
	line-height: 1.4em;
	font-weight: 500;
	color: #0F2656;
	margin: 0px 0px 10px;
}
.banner-img{
	width: 50%;
	margin: 15px 0px 0px;
}
.success{
	width: 100%;
	float: left;
	padding: 50px 0px;
}
.success-left{
	width: 100%;
	float: left;
	text-align: right;
}
.success-left h1{
	font-size: 60px;
	line-height: 1.2em;
	font-weight: 600;
	color: #F15767;
	margin: 0px 20px 10px 0px;
}
.success-left p{
	font-size: 16px;
	line-height: 1.7em;
	font-weight: 400;
	color: #213662;
	margin: 0px 20px 10px 0px;
}
.success-right{
	width: 100%;
	float: left;
	text-align: left;
}
.success-right h1{
	font-size: 55px;
	line-height: 1.2em;
	font-weight: 600;
	color: #0F2656;
	margin: 0px 20px 10px 0px;
}
.feature{
	width: 100%;
	float: left;
	padding: 50px 0px;
}
.inner-feature{
	width: 85%;
	float: left;
	margin: 0px 10px;
	padding: 40px 15px;
}
.feature-img{
	width: 100%;
	height: 150px;
}
.cl1{
	background-color: #FDEBED ;
}
.cl2{
	background-color: #EBF9F4;
}
.cl3{
	background-color: #FFF7E8;
}
.footer{
	width: 100%;
	height: 50px;
	float: left;
	background-color: #008AFF;
	text-align: center;
}	
.footer h5{
	font-weight: 500;
	font-size: 14px;
	color: #6ACAFF;
	margin: 15px;
}
.footer h5 a{
	font-weight: 600;
	letter-spacing: 2px;
	color: #FFFEFF;
}